* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, serif;
    background-color: #000;
    color: #fff;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    text-align: center
}

h2 {
    color: #ff8e00
}

/* ==================================== */
/*		  	  DIV CENTRAL
/* ==================================== */
#h1, #presentation {
    margin-right: auto;
    margin-left: auto;
}

.mid-index {
    /*height: 88vh;*/
    text-align: center;
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

/* ==================================== */
/*		  	  PANNEL GAUCHE
/* ==================================== */
.menu-wrap {
    background-color: #000000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 600px;
    margin-left: -605px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 1;
    border-right: 3px solid #ff8e00;
}

.menu-show {
    margin-left: -8px;
    box-shadow: -4px 2px 10px 1px #ff8e00;

}

.menu-sidebar {
    margin: 75px 0 80px 10px;
    position: relative;
    top: 70px;
}

/* Button*/
#zindex {
    z-index: 2;
}

.toggle-button:hover {
    cursor: crosshair;
}

/* ==================================== */
/*		  	  PANNEL DROITE
/* ==================================== */
.menu-wrap-right {
    background-color: #000000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 799px;
    margin-right: -796px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .10s;
    z-index: 3;
    right: 0;
    border-left: 3px solid #ff8e00;

}

.menu-show-right {
    margin-right: -8px;
    box-shadow: 4px 2px 10px 1px #ff8e00;
}

.menu-sidebar-right {
    margin: 80px 0 80px 10px;
    position: relative;
}

/*Button*/
.button-right {
    margin: 10px;
    display: inline-block;
    font-size: 18px;
}

.button-right a, #zindex-right {
    text-decoration: none;
    background: linear-gradient(#ff8e00, #ff8e00) bottom / 0 .1em no-repeat;
    transition: 0.5s background-size;
}

.button-right a:hover, #zindex-right:hover {
    background-size: 100% .1em;
}

#closeContact {
    font-size: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-right {
    margin-right: 80px;
    padding-top: 50px;
    text-align: right;
}

.toggle-button-right:hover {
    cursor: crosshair;
}

/* ERRORS & SUCESS */
.block-center {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.error {
    background-color: #ff7171;
    border: 2px solid #ff0000;
    border-radius: 15px;
    padding: 25px;
}

.sucess {
    background-color: #71a5ff;
    border: 2px solid #002aff;
    border-radius: 15px;
    padding: 25px;
}

/* ==================================== */
/*		  	      CONTACT
/* ==================================== */
.form-contact {
    margin-left: auto;
    margin-right: auto;
}

.button-open-right {
    font-size: 50px;
    margin-right: 100px;
}

#message {
    width: 500px;
    height: 350px;
}

.form-contact input {
    width: 200px;
}

#closeContact {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(#ff8e00, #ff8e00) bottom / 0 .1em no-repeat;
    transition: 0.5s background-size;
}

#closeContact:hover {
    background-size: 25% .1em;
}
/* ==================================== */
/*		  	      PORTFOLIO
/* ==================================== */

.mid-upload {
    text-align: center;
    margin-top: 50px;
}

.ul-upload > .logos_img > img {
    width: 350px;
}

.ul-upload > .banners_img > img {
    width: 700px;
}

.ul-upload > .upload_img > img {
    max-width: 700px;
}

.ul-upload div {
    display: inline-block;
    padding: 50px;
}

/********** onglets by me ************/
.onglet_buttons {
    list-style: none;
    display: inline-flex;
}

#onglet_2, #onglet_3 {
    display: none;
}

.onglet_buttons_li {
    padding: 10px;
    transition: 0.3s;
}

.onglet_buttons_li:hover {
    font-size: xx-large;
}

/********** remontrer au top ************/
#scrollUp {
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.5;
}

/* ============================ */
/*            SINGLE            */
/* ============================ */
.single {
    width: -moz-available;
}

.single-mid {
    margin-top: 100px;
    text-align: center;
}

.single-banner, .single-upload {
    width: 100%;
}

.single-logo {
    width: auto;
}

.single-comments {
    display: inline-block;
    margin-bottom: 80px;
}

.single-comments table {
    border: 1px solid #ff8e00;
    border-top: none;
    padding: 25PX 50px;
    text-align: start;
}

caption {
    border: 1px solid #ff8e00;
    border-bottom: none;
    font-size: larger;
    padding-top: 15px;
}


/* ============================ */
/*          formulaires         */
/* ============================ */

table > tbody > tr > td:first-child {
    vertical-align: baseline;
    text-align: right;
}

.upload {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.left h2 {
    font-size: 50px;
    text-align: center;
}

.submit {
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #000;
    border: #ff8e00 2px solid;
    color: #ff8e00;
    border-radius: 25px;
}

.right {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 100px;
}

.envoyer {
    background-color: #000;
    color: #ff8e00;
    border-radius: 15px;
    border: 3px outset #ff8e00;
    height: 35px;

}

.envoyer:hover {
    background-color: #ff8e00;
    color: #fff;
    border-radius: 15px;
    border: 3px inset #fff;
    height: 35px;
}

/*   ===== FOOTER =====   */
.footer_img img {
    width: 45px;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_img {
    display: flex;
    justify-content: center;
}

footer {
    margin-bottom: 0;
    background-color: #000;
    color: #ff8e00;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 99%;
}


/************* vote ************/

#draggable {
    width: 350px;
    height: 200px;
    position: absolute;
    z-index: 4;
    text-align: center;
    padding: 30px 10px;
    border-radius: 25px;
    background: rgb(61, 61, 61);
    background: linear-gradient(0deg, rgba(55, 55, 55, 1) 0%, rgb(109, 109, 109) 50%, rgba(55, 55, 55, 1) 100%);
    border: 2px #000 solid;

}

#draggable:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid #c0c0c0;
    border-radius: 27px;
}


#vote {
    margin-top: 20px;
    padding: 5px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
}

#vote:hover {
    background-color: #242424;
    color: #c0c0c0;
}

#delete {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #242424;
    font-size: 10px;
    color: #c0c0c0;
}

#delete:hover {
    background-color: #ff0000;
}

/*----------------------------------*/
/*               480px              */
/*----------------------------------*/
@media only screen and (max-width: 480px) {

    .nav-right {
        margin-right: unset;
        padding-top: 50px;
        display: flex;
        justify-content: center;

    }

    .mid-index {
        margin-left: 10%;
        margin-right: 10%;
    }

    .button-right {
        padding: 5px;
    }



    /*---------------------- FORMULAIRE*/
    .form-contact > tbody > tr {
        display: inherit;
    }

    textarea {
        width: 150px;
        height: 150px;
    }

    .form-contact input {
        width: 150px;
    }

    .form-contact {
        width: unset;
    }

    .right {
        width: unset;
    }

    .menu-show-right{
        box-shadow: unset;
    }

    /*---------------------- UPLOAD*/
    .menu-wrap {
        z-index: 3;
        width: 100%;
        border: unset;
    }

    .upload {
        padding-right: 10px;
    }

    /*---------------*/
    .button-open-right {
        font-size: 40px;
        text-align: center;

    }

    .button-right + #zindex {
        z-index: 4;
    }

    /*---------------------------IMAGE PORTFOLIO*/
    .ul-upload > .banners_img > img {
        width: 100%;
    }

    .single-logo, .single-banner, .single-upload {
        width: 100%;
    }

    #comment, .single-comments #name, .single-comments .envoyer {
        width: 100%;
    }

    .single-comments table {
        padding: 25px;
    }

    .onglet_buttons { /* barre nav des onglets */
        padding: 0;
    }

    .single-banner, .ul-upload > .banners_img > img {
        margin-bottom: unset;
    }

     /* -------------------------------- VOTE */
    #draggable {
        width: 250px;
        height: 280px;
    }
    #sucess{
        display: grid;
        justify-items: center;
    }
    #vote {
        margin-top: 5px;
        padding: 5px;
        border-radius: 15px;
        width: 45px;
        height: 30px;
    }
}

/*----------------------------------*/
/*              1024PX              */
/*----------------------------------*/
@media (max-width: 1024px) {
    .single-banner,
    .single-upload,
    .ul-upload > .banners_img > img,
    .ul-upload > .upload_img > img {
        width: 100%;
    }

    .menu-wrap {
        width: 500px;
        margin-left: -505px;
    }

    /*textarea contact*/
    #message {
        width: 200px;
        height: 200px;
    }

    /*titre contact*/
    #closeContact {
        font-size: 50px;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .right {
        top: 50px;
    }
    table > tbody > tr > td:first-child {
        font-size: 30px;
    }
    .form-contact input{
        height: 30px;
    }
}

@media (max-width: 720px) {
    .menu-wrap-right {
        width: 103%;
    }
}
